<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <form action="/jokes" method="POST">
      <input type="text" name="question" placeholder="question" />
      <input type="text" name="answer" placeholder="answer" />
      <input type="number" name="rating" placeholder="rating" />
      <input type="number" name="author_id" placeholder="author_id" />
      <button>ADD A JOKE :D</button>
    </form>
  </body>
</html>
